.flag {
	align-items: center;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-flex;
	line-height: 1em;
	padding-inline-start: 1.4em;
	width: 1.333333em;
}

:dir(rtl) .flag {
	background-position: right center;
}

.flag[data-text] {
	width: auto;
}

.flag[data-text]::after {
	color: inherit;
	content: attr(data-text);
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	font-style: normal;
	font-weight: inherit;
	margin-inline-start: .5rem;
	vertical-align: middle;
}

.flag.flag-ad {
	background-image: url(../img/flags/ad.svg);
}

.flag.flag-ae {
	background-image: url(../img/flags/ae.svg);
}

.flag.flag-af {
	background-image: url(../img/flags/af.svg);
}

.flag.flag-ag {
	background-image: url(../img/flags/ag.svg);
}

.flag.flag-ai {
	background-image: url(../img/flags/ai.svg);
}

.flag.flag-al {
	background-image: url(../img/flags/al.svg);
}

.flag.flag-am {
	background-image: url(../img/flags/am.svg);
}

.flag.flag-ao {
	background-image: url(../img/flags/ao.svg);
}

.flag.flag-aq {
	background-image: url(../img/flags/aq.svg);
}

.flag.flag-ar {
	background-image: url(../img/flags/ar.svg);
}

.flag.flag-as {
	background-image: url(../img/flags/as.svg);
}

.flag.flag-at {
	background-image: url(../img/flags/at.svg);
}

.flag.flag-au {
	background-image: url(../img/flags/au.svg);
}

.flag.flag-aw {
	background-image: url(../img/flags/aw.svg);
}

.flag.flag-ax {
	background-image: url(../img/flags/ax.svg);
}

.flag.flag-az {
	background-image: url(../img/flags/az.svg);
}

.flag.flag-ba {
	background-image: url(../img/flags/ba.svg);
}

.flag.flag-bb {
	background-image: url(../img/flags/bb.svg);
}

.flag.flag-bd {
	background-image: url(../img/flags/bd.svg);
}

.flag.flag-be {
	background-image: url(../img/flags/be.svg);
}

.flag.flag-bf {
	background-image: url(../img/flags/bf.svg);
}

.flag.flag-bg {
	background-image: url(../img/flags/bg.svg);
}

.flag.flag-bh {
	background-image: url(../img/flags/bh.svg);
}

.flag.flag-bi {
	background-image: url(../img/flags/bi.svg);
}

.flag.flag-bj {
	background-image: url(../img/flags/bj.svg);
}

.flag.flag-bl {
	background-image: url(../img/flags/bl.svg);
}

.flag.flag-bm {
	background-image: url(../img/flags/bm.svg);
}

.flag.flag-bn {
	background-image: url(../img/flags/bn.svg);
}

.flag.flag-bo {
	background-image: url(../img/flags/bo.svg);
}

.flag.flag-bq {
	background-image: url(../img/flags/bq.svg);
}

.flag.flag-br {
	background-image: url(../img/flags/br.svg);
}

.flag.flag-bs {
	background-image: url(../img/flags/bs.svg);
}

.flag.flag-bt {
	background-image: url(../img/flags/bt.svg);
}

.flag.flag-bv {
	background-image: url(../img/flags/bv.svg);
}

.flag.flag-bw {
	background-image: url(../img/flags/bw.svg);
}

.flag.flag-by {
	background-image: url(../img/flags/by.svg);
}

.flag.flag-bz {
	background-image: url(../img/flags/bz.svg);
}

.flag.flag-ca {
	background-image: url(../img/flags/ca.svg);
}

.flag.flag-cc {
	background-image: url(../img/flags/cc.svg);
}

.flag.flag-cd {
	background-image: url(../img/flags/cd.svg);
}

.flag.flag-cf {
	background-image: url(../img/flags/cf.svg);
}

.flag.flag-cg {
	background-image: url(../img/flags/cg.svg);
}

.flag.flag-ch {
	background-image: url(../img/flags/ch.svg);
}

.flag.flag-ci {
	background-image: url(../img/flags/ci.svg);
}

.flag.flag-ck {
	background-image: url(../img/flags/ck.svg);
}

.flag.flag-cl {
	background-image: url(../img/flags/cl.svg);
}

.flag.flag-cm {
	background-image: url(../img/flags/cm.svg);
}

.flag.flag-cn {
	background-image: url(../img/flags/cn.svg);
}

.flag.flag-co {
	background-image: url(../img/flags/co.svg);
}

.flag.flag-cr {
	background-image: url(../img/flags/cr.svg);
}

.flag.flag-cu {
	background-image: url(../img/flags/cu.svg);
}

.flag.flag-cv {
	background-image: url(../img/flags/cv.svg);
}

.flag.flag-cw {
	background-image: url(../img/flags/cw.svg);
}

.flag.flag-cx {
	background-image: url(../img/flags/cx.svg);
}

.flag.flag-cy {
	background-image: url(../img/flags/cy.svg);
}

.flag.flag-cz {
	background-image: url(../img/flags/cz.svg);
}

.flag.flag-de {
	background-image: url(../img/flags/de.svg);
}

.flag.flag-dj {
	background-image: url(../img/flags/dj.svg);
}

.flag.flag-dk {
	background-image: url(../img/flags/dk.svg);
}

.flag.flag-dm {
	background-image: url(../img/flags/dm.svg);
}

.flag.flag-do {
	background-image: url(../img/flags/do.svg);
}

.flag.flag-dz {
	background-image: url(../img/flags/dz.svg);
}

.flag.flag-ec {
	background-image: url(../img/flags/ec.svg);
}

.flag.flag-ee {
	background-image: url(../img/flags/ee.svg);
}

.flag.flag-eg {
	background-image: url(../img/flags/eg.svg);
}

.flag.flag-eh {
	background-image: url(../img/flags/eh.svg);
}

.flag.flag-er {
	background-image: url(../img/flags/er.svg);
}

.flag.flag-es {
	background-image: url(../img/flags/es.svg);
}

.flag.flag-es-ct {
	background-image: url(../img/flags/es-ct.svg);
}

.flag.flag-es-ga {
	background-image: url(../img/flags/es-ga.svg);
}

.flag.flag-es-pv {
	background-image: url(../img/flags/es-pv.svg);
}

.flag.flag-et {
	background-image: url(../img/flags/et.svg);
}

.flag.flag-fi {
	background-image: url(../img/flags/fi.svg);
}

.flag.flag-fj {
	background-image: url(../img/flags/fj.svg);
}

.flag.flag-fk {
	background-image: url(../img/flags/fk.svg);
}

.flag.flag-fm {
	background-image: url(../img/flags/fm.svg);
}

.flag.flag-fo {
	background-image: url(../img/flags/fo.svg);
}

.flag.flag-fr {
	background-image: url(../img/flags/fr.svg);
}

.flag.flag-ga {
	background-image: url(../img/flags/ga.svg);
}

.flag.flag-gb {
	background-image: url(../img/flags/gb.svg);
}

.flag.flag-gb-en {
	background-image: url(../img/flags/gb-en.svg);
}

.flag.flag-gb-ni {
	background-image: url(../img/flags/gb-ni.svg);
}

.flag.flag-gb-sc {
	background-image: url(../img/flags/gb-sc.svg);
}

.flag.flag-gb-wl {
	background-image: url(../img/flags/gb-wl.svg);
}

.flag.flag-gd {
	background-image: url(../img/flags/gd.svg);
}

.flag.flag-ge {
	background-image: url(../img/flags/ge.svg);
}

.flag.flag-gf {
	background-image: url(../img/flags/gf.svg);
}

.flag.flag-gg {
	background-image: url(../img/flags/gg.svg);
}

.flag.flag-gh {
	background-image: url(../img/flags/gh.svg);
}

.flag.flag-gi {
	background-image: url(../img/flags/gi.svg);
}

.flag.flag-gl {
	background-image: url(../img/flags/gl.svg);
}

.flag.flag-gm {
	background-image: url(../img/flags/gm.svg);
}

.flag.flag-gn {
	background-image: url(../img/flags/gn.svg);
}

.flag.flag-gp {
	background-image: url(../img/flags/gp.svg);
}

.flag.flag-gq {
	background-image: url(../img/flags/gq.svg);
}

.flag.flag-gr {
	background-image: url(../img/flags/gr.svg);
}

.flag.flag-gs {
	background-image: url(../img/flags/gs.svg);
}

.flag.flag-gt {
	background-image: url(../img/flags/gt.svg);
}

.flag.flag-gu {
	background-image: url(../img/flags/gu.svg);
}

.flag.flag-gw {
	background-image: url(../img/flags/gw.svg);
}

.flag.flag-gy {
	background-image: url(../img/flags/gy.svg);
}

.flag.flag-hk {
	background-image: url(../img/flags/hk.svg);
}

.flag.flag-hm {
	background-image: url(../img/flags/hm.svg);
}

.flag.flag-hn {
	background-image: url(../img/flags/hn.svg);
}

.flag.flag-hr {
	background-image: url(../img/flags/hr.svg);
}

.flag.flag-ht {
	background-image: url(../img/flags/ht.svg);
}

.flag.flag-hu {
	background-image: url(../img/flags/hu.svg);
}

.flag.flag-id {
	background-image: url(../img/flags/id.svg);
}

.flag.flag-ie {
	background-image: url(../img/flags/ie.svg);
}

.flag.flag-im {
	background-image: url(../img/flags/im.svg);
}

.flag.flag-in {
	background-image: url(../img/flags/in.svg);
}

.flag.flag-io {
	background-image: url(../img/flags/io.svg);
}

.flag.flag-iq {
	background-image: url(../img/flags/iq.svg);
}

.flag.flag-ir {
	background-image: url(../img/flags/ir.svg);
}

.flag.flag-is {
	background-image: url(../img/flags/is.svg);
}

.flag.flag-it {
	background-image: url(../img/flags/it.svg);
}

.flag.flag-je {
	background-image: url(../img/flags/je.svg);
}

.flag.flag-jm {
	background-image: url(../img/flags/jm.svg);
}

.flag.flag-jo {
	background-image: url(../img/flags/jo.svg);
}

.flag.flag-jp {
	background-image: url(../img/flags/jp.svg);
}

.flag.flag-ke {
	background-image: url(../img/flags/ke.svg);
}

.flag.flag-kg {
	background-image: url(../img/flags/kg.svg);
}

.flag.flag-kh {
	background-image: url(../img/flags/kh.svg);
}

.flag.flag-ki {
	background-image: url(../img/flags/ki.svg);
}

.flag.flag-km {
	background-image: url(../img/flags/km.svg);
}

.flag.flag-kn {
	background-image: url(../img/flags/kn.svg);
}

.flag.flag-kp {
	background-image: url(../img/flags/kp.svg);
}

.flag.flag-kr {
	background-image: url(../img/flags/kr.svg);
}

.flag.flag-kw {
	background-image: url(../img/flags/kw.svg);
}

.flag.flag-ky {
	background-image: url(../img/flags/ky.svg);
}

.flag.flag-kz {
	background-image: url(../img/flags/kz.svg);
}

.flag.flag-la {
	background-image: url(../img/flags/la.svg);
}

.flag.flag-lb {
	background-image: url(../img/flags/lb.svg);
}

.flag.flag-lc {
	background-image: url(../img/flags/lc.svg);
}

.flag.flag-li {
	background-image: url(../img/flags/li.svg);
}

.flag.flag-lk {
	background-image: url(../img/flags/lk.svg);
}

.flag.flag-lr {
	background-image: url(../img/flags/lr.svg);
}

.flag.flag-ls {
	background-image: url(../img/flags/ls.svg);
}

.flag.flag-lt {
	background-image: url(../img/flags/lt.svg);
}

.flag.flag-lu {
	background-image: url(../img/flags/lu.svg);
}

.flag.flag-lv {
	background-image: url(../img/flags/lv.svg);
}

.flag.flag-ly {
	background-image: url(../img/flags/ly.svg);
}

.flag.flag-ma {
	background-image: url(../img/flags/ma.svg);
}

.flag.flag-mc {
	background-image: url(../img/flags/mc.svg);
}

.flag.flag-md {
	background-image: url(../img/flags/md.svg);
}

.flag.flag-me {
	background-image: url(../img/flags/me.svg);
}

.flag.flag-mf {
	background-image: url(../img/flags/mf.svg);
}

.flag.flag-mg {
	background-image: url(../img/flags/mg.svg);
}

.flag.flag-mh {
	background-image: url(../img/flags/mh.svg);
}

.flag.flag-mk {
	background-image: url(../img/flags/mk.svg);
}

.flag.flag-ml {
	background-image: url(../img/flags/ml.svg);
}

.flag.flag-mm {
	background-image: url(../img/flags/mm.svg);
}

.flag.flag-mn {
	background-image: url(../img/flags/mn.svg);
}

.flag.flag-mo {
	background-image: url(../img/flags/mo.svg);
}

.flag.flag-mp {
	background-image: url(../img/flags/mp.svg);
}

.flag.flag-mq {
	background-image: url(../img/flags/mq.svg);
}

.flag.flag-mr {
	background-image: url(../img/flags/mr.svg);
}

.flag.flag-ms {
	background-image: url(../img/flags/ms.svg);
}

.flag.flag-mt {
	background-image: url(../img/flags/mt.svg);
}

.flag.flag-mu {
	background-image: url(../img/flags/mu.svg);
}

.flag.flag-mv {
	background-image: url(../img/flags/mv.svg);
}

.flag.flag-mw {
	background-image: url(../img/flags/mw.svg);
}

.flag.flag-mx {
	background-image: url(../img/flags/mx.svg);
}

.flag.flag-my {
	background-image: url(../img/flags/my.svg);
}

.flag.flag-mz {
	background-image: url(../img/flags/mz.svg);
}

.flag.flag-na {
	background-image: url(../img/flags/na.svg);
}

.flag.flag-nc {
	background-image: url(../img/flags/nc.svg);
}

.flag.flag-ne {
	background-image: url(../img/flags/ne.svg);
}

.flag.flag-nf {
	background-image: url(../img/flags/nf.svg);
}

.flag.flag-ng {
	background-image: url(../img/flags/ng.svg);
}

.flag.flag-ni {
	background-image: url(../img/flags/ni.svg);
}

.flag.flag-nl {
	background-image: url(../img/flags/nl.svg);
}

.flag.flag-no {
	background-image: url(../img/flags/no.svg);
}

.flag.flag-np {
	background-image: url(../img/flags/np.svg);
}

.flag.flag-nr {
	background-image: url(../img/flags/nr.svg);
}

.flag.flag-nu {
	background-image: url(../img/flags/nu.svg);
}

.flag.flag-nz {
	background-image: url(../img/flags/nz.svg);
}

.flag.flag-om {
	background-image: url(../img/flags/om.svg);
}

.flag.flag-pa {
	background-image: url(../img/flags/pa.svg);
}

.flag.flag-pe {
	background-image: url(../img/flags/pe.svg);
}

.flag.flag-pf {
	background-image: url(../img/flags/pf.svg);
}

.flag.flag-pg {
	background-image: url(../img/flags/pg.svg);
}

.flag.flag-ph {
	background-image: url(../img/flags/ph.svg);
}

.flag.flag-pk {
	background-image: url(../img/flags/pk.svg);
}

.flag.flag-pl {
	background-image: url(../img/flags/pl.svg);
}

.flag.flag-pm {
	background-image: url(../img/flags/pm.svg);
}

.flag.flag-pn {
	background-image: url(../img/flags/pn.svg);
}

.flag.flag-pr {
	background-image: url(../img/flags/pr.svg);
}

.flag.flag-ps {
	background-image: url(../img/flags/ps.svg);
}

.flag.flag-pt {
	background-image: url(../img/flags/pt.svg);
}

.flag.flag-pw {
	background-image: url(../img/flags/pw.svg);
}

.flag.flag-py {
	background-image: url(../img/flags/py.svg);
}

.flag.flag-qa {
	background-image: url(../img/flags/qa.svg);
}

.flag.flag-re {
	background-image: url(../img/flags/re.svg);
}

.flag.flag-ro {
	background-image: url(../img/flags/ro.svg);
}

.flag.flag-rs {
	background-image: url(../img/flags/rs.svg);
}

.flag.flag-ru {
	background-image: url(../img/flags/ru.svg);
}

.flag.flag-rw {
	background-image: url(../img/flags/rw.svg);
}

.flag.flag-sa {
	background-image: url(../img/flags/sa.svg);
}

.flag.flag-sb {
	background-image: url(../img/flags/sb.svg);
}

.flag.flag-sc {
	background-image: url(../img/flags/sc.svg);
}

.flag.flag-sd {
	background-image: url(../img/flags/sd.svg);
}

.flag.flag-se {
	background-image: url(../img/flags/se.svg);
}

.flag.flag-sg {
	background-image: url(../img/flags/sg.svg);
}

.flag.flag-sh {
	background-image: url(../img/flags/sh.svg);
}

.flag.flag-si {
	background-image: url(../img/flags/si.svg);
}

.flag.flag-sj {
	background-image: url(../img/flags/sj.svg);
}

.flag.flag-sk {
	background-image: url(../img/flags/sk.svg);
}

.flag.flag-sl {
	background-image: url(../img/flags/sl.svg);
}

.flag.flag-sm {
	background-image: url(../img/flags/sm.svg);
}

.flag.flag-sn {
	background-image: url(../img/flags/sn.svg);
}

.flag.flag-so {
	background-image: url(../img/flags/so.svg);
}

.flag.flag-sr {
	background-image: url(../img/flags/sr.svg);
}

.flag.flag-ss {
	background-image: url(../img/flags/ss.svg);
}

.flag.flag-st {
	background-image: url(../img/flags/st.svg);
}

.flag.flag-sv {
	background-image: url(../img/flags/sv.svg);
}

.flag.flag-sx {
	background-image: url(../img/flags/sx.svg);
}

.flag.flag-sy {
	background-image: url(../img/flags/sy.svg);
}

.flag.flag-sz {
	background-image: url(../img/flags/sz.svg);
}

.flag.flag-tc {
	background-image: url(../img/flags/tc.svg);
}

.flag.flag-td {
	background-image: url(../img/flags/td.svg);
}

.flag.flag-tf {
	background-image: url(../img/flags/tf.svg);
}

.flag.flag-tg {
	background-image: url(../img/flags/tg.svg);
}

.flag.flag-th {
	background-image: url(../img/flags/th.svg);
}

.flag.flag-tj {
	background-image: url(../img/flags/tj.svg);
}

.flag.flag-tk {
	background-image: url(../img/flags/tk.svg);
}

.flag.flag-tl {
	background-image: url(../img/flags/tl.svg);
}

.flag.flag-tm {
	background-image: url(../img/flags/tm.svg);
}

.flag.flag-tn {
	background-image: url(../img/flags/tn.svg);
}

.flag.flag-to {
	background-image: url(../img/flags/to.svg);
}

.flag.flag-tr {
	background-image: url(../img/flags/tr.svg);
}

.flag.flag-tt {
	background-image: url(../img/flags/tt.svg);
}

.flag.flag-tv {
	background-image: url(../img/flags/tv.svg);
}

.flag.flag-tw {
	background-image: url(../img/flags/tw.svg);
}

.flag.flag-tz {
	background-image: url(../img/flags/tz.svg);
}

.flag.flag-ua {
	background-image: url(../img/flags/ua.svg);
}

.flag.flag-ug {
	background-image: url(../img/flags/ug.svg);
}

.flag.flag-um {
	background-image: url(../img/flags/um.svg);
}

.flag.flag-us {
	background-image: url(../img/flags/us.svg);
}

.flag.flag-uy {
	background-image: url(../img/flags/uy.svg);
}

.flag.flag-uz {
	background-image: url(../img/flags/uz.svg);
}

.flag.flag-va {
	background-image: url(../img/flags/va.svg);
}

.flag.flag-vc {
	background-image: url(../img/flags/vc.svg);
}

.flag.flag-ve {
	background-image: url(../img/flags/ve.svg);
}

.flag.flag-vg {
	background-image: url(../img/flags/vg.svg);
}

.flag.flag-vi {
	background-image: url(../img/flags/vi.svg);
}

.flag.flag-vn {
	background-image: url(../img/flags/vn.svg);
}

.flag.flag-vu {
	background-image: url(../img/flags/vu.svg);
}

.flag.flag-wf {
	background-image: url(../img/flags/wf.svg);
}

.flag.flag-ws {
	background-image: url(../img/flags/ws.svg);
}

.flag.flag-xk {
	background-image: url(../img/flags/xk.svg);
}

.flag.flag-xx {
	background-image: url(../img/flags/xx.svg);
}

.flag.flag-ye {
	background-image: url(../img/flags/ye.svg);
}

.flag.flag-yt {
	background-image: url(../img/flags/yt.svg);
}

.flag.flag-za {
	background-image: url(../img/flags/za.svg);
}

.flag.flag-zm {
	background-image: url(../img/flags/zm.svg);
}

.flag.flag-zw {
	background-image: url(../img/flags/zw.svg);
}
