@charset "UTF-8";
/*!
 * CodeIgniter Skeleton - Social CSS (https://github.com/bkader/skeleton)
 * Copyright 2024 Kader Bouyakoub (http://bit.ly/KaderGhb)
 */

:root {
	/* Defaults */
	--cs-color-white: var(--cs-color-white, #fff);
	--cs-color-default: var(--cs-color-default, #212529);

	/* 500px */
	--cs-color-500px: #0099e5;
	--cs-color-500px-rgb: 0, 153, 229;
	--cs-color-500px-border: #0088cb;
	--cs-color-500px-hover: #007ab3;
	--cs-color-500px-border-hover: #006fa1;
	--cs-color-500px-focus: #00acee;
	--cs-color-500px-border-focus: #0094cc;

	/* Amazon */
	--cs-color-amazon: #ff9900;
	--cs-color-amazon-rgb: 255, 153, 0;
	--cs-color-amazon-border: #e68a00;
	--cs-color-amazon-hover: #cc7a00;
	--cs-color-amazon-border-hover: #b36b00;
	--cs-color-amazon-focus: #ffa31a;
	--cs-color-amazon-border-focus: #e68e00;

	/* Android */
	--cs-color-android: #a4c639;
	--cs-color-android-rgb: 164, 198, 57;
	--cs-color-android-border: #92b32f;
	--cs-color-android-hover: #81a027;
	--cs-color-android-border-hover: #739023;
	--cs-color-android-focus: #afd145;
	--cs-color-android-border-focus: #9db63c;

	/* Apple */
	--cs-color-apple: #a6b1b7;
	--cs-color-apple-rgb: 166, 177, 183;
	--cs-color-apple-border: #8e9ba1;
	--cs-color-apple-hover: #7c8a91;
	--cs-color-apple-border-hover: #6e7b81;
	--cs-color-apple-focus: #b3bcc1;
	--cs-color-apple-border-focus: #9ca9af;

	/* DeviantArt */
	--cs-color-deviantart: #05cc47;
	--cs-color-deviantart-rgb: 5, 204, 71;
	--cs-color-deviantart-border: #05b440;
	--cs-color-deviantart-hover: #04a03a;
	--cs-color-deviantart-border-hover: #048c33;
	--cs-color-deviantart-focus: #07e150;
	--cs-color-deviantart-border-focus: #06c447;

	/* Discord */
	--cs-color-discord: #7289da;
	--cs-color-discord-rgb: 114, 137, 218;
	--cs-color-discord-border: #5d73c4;
	--cs-color-discord-hover: #4d64af;
	--cs-color-discord-border-hover: #4358a0;
	--cs-color-discord-focus: #8399e3;
	--cs-color-discord-border-focus: #6f84cd;

	/* Dribbble */
	--cs-color-dribbble: #ea4c89;
	--cs-color-dribbble-rgb: 234, 76, 137;
	--cs-color-dribbble-border: #d0437a;
	--cs-color-dribbble-hover: #b93a6b;
	--cs-color-dribbble-border-hover: #a93460;
	--cs-color-dribbble-focus: #f05b95;
	--cs-color-dribbble-border-focus: #d84982;

	/* Facebook */
	--cs-color-facebook: #3b5998;
	--cs-color-facebook-rgb: 59, 89, 152;
	--cs-color-facebook-border: #324d85;
	--cs-color-facebook-hover: #2b4272;
	--cs-color-facebook-border-hover: #243961;
	--cs-color-facebook-focus: #4463a1;
	--cs-color-facebook-border-focus: #3b5788;

	/* Flickr */
	--cs-color-flickr: #f40083;
	--cs-color-flickr-rgb: 244, 0, 131;
	--cs-color-flickr-border: #da0074;
	--cs-color-flickr-hover: #c00067;
	--cs-color-flickr-border-hover: #a8005c;
	--cs-color-flickr-focus: #ff1a90;
	--cs-color-flickr-border-focus: #e5007d;

	/* Foursquare */
	--cs-color-foursquare: #f94877;
	--cs-color-foursquare-rgb: 249, 72, 119;
	--cs-color-foursquare-border: #e03f6a;
	--cs-color-foursquare-hover: #c7365e;
	--cs-color-foursquare-border-hover: #ad2e53;
	--cs-color-foursquare-focus: #fc5a84;
	--cs-color-foursquare-border-focus: #e74672;

	/* GitHub */
	--cs-color-github: #333333;
	--cs-color-github-rgb: 51, 51, 51;
	--cs-color-github-border: #2e2e2e;
	--cs-color-github-hover: #2f2f2f;
	--cs-color-github-border-hover: #292929;
	--cs-color-github-focus: #3a3a3a;
	--cs-color-github-border-focus: #323232;

	/* Google */
	--cs-color-google: #4285f4;
	--cs-color-google-rgb: 66, 133, 244;
	--cs-color-google-border: #3a76d8;
	--cs-color-google-hover: #3368bd;
	--cs-color-google-border-hover: #2d5ca7;
	--cs-color-google-focus: #5493f5;
	--cs-color-google-border-focus: #4478d8;

	/* Google Plus */
	--cs-color-google-plus: #db4437;
	--cs-color-google-plus-rgb: 219, 68, 55;
	--cs-color-google-plus-border: #c53c4d;
	--cs-color-google-plus-hover: #af3445;
	--cs-color-google-plus-border-hover: #9b2d3e;
	--cs-color-google-plus-focus: #e35b4b;
	--cs-color-google-plus-border-focus: #cd4743;

	/* Instagram */
	--cs-color-instagram: #c32aa3;
	--cs-color-instagram-rgb: 195, 42, 163;
	--cs-color-instagram-border: #af2491;
	--cs-color-instagram-hover: #9c1f81;
	--cs-color-instagram-border-hover: #8a1b72;
	--cs-color-instagram-focus: #d13db0;
	--cs-color-instagram-border-focus: #b82b96;

	/* LinkedIn */
	--cs-color-linkedin: #007bb5;
	--cs-color-linkedin-rgb: 0, 123, 181;
	--cs-color-linkedin-border: #006ba3;
	--cs-color-linkedin-hover: #005d8f;
	--cs-color-linkedin-border-hover: #00507c;
	--cs-color-linkedin-focus: #008bc7;
	--cs-color-linkedin-border-focus: #0072a9;

	/* Medium */
	--cs-color-medium: #02b875;
	--cs-color-medium-rgb: 2, 184, 117;
	--cs-color-medium-border: #029e65;
	--cs-color-medium-hover: #018955;
	--cs-color-medium-border-hover: #017749;
	--cs-color-medium-focus: #02cc80;
	--cs-color-medium-border-focus: #02a65f;

	/* PayPal */
	--cs-color-paypal: #003087;
	--cs-color-paypal-rgb: 0, 48, 135;
	--cs-color-paypal-border: #002a77;
	--cs-color-paypal-hover: #002a79;
	--cs-color-paypal-border-hover: #002463;
	--cs-color-paypal-focus: #003a94;
	--cs-color-paypal-border-focus: #002e74;

	/* Pinterest */
	--cs-color-pinterest: #bd081c;
	--cs-color-pinterest-rgb: 189, 8, 28;
	--cs-color-pinterest-border: #a4071a;
	--cs-color-pinterest-hover: #910616;
	--cs-color-pinterest-border-hover: #7f0513;
	--cs-color-pinterest-focus: #d91026;
	--cs-color-pinterest-border-focus: #b50a1c;

	/* Pocket */
	--cs-color-pocket: #ee4056;
	--cs-color-pocket-rgb: 238, 64, 86;
	--cs-color-pocket-border: #d6384c;
	--cs-color-pocket-hover: #c13043;
	--cs-color-pocket-border-hover: #ad293a;
	--cs-color-pocket-focus: #f25267;
	--cs-color-pocket-border-focus: #d94656;

	/* Quora */
	--cs-color-quora: #aa2200;
	--cs-color-quora-rgb: 170, 34, 0;
	--cs-color-quora-border: #991f00;
	--cs-color-quora-hover: #871c00;
	--cs-color-quora-border-hover: #761900;
	--cs-color-quora-focus: #bb2e0d;
	--cs-color-quora-border-focus: #9a2300;

	/* Reddit */
	--cs-color-reddit: #ff4500;
	--cs-color-reddit-rgb: 255, 69, 0;
	--cs-color-reddit-border: #e03d00;
	--cs-color-reddit-hover: #c03600;
	--cs-color-reddit-border-hover: #a83000;
	--cs-color-reddit-focus: #ff5521;
	--cs-color-reddit-border-focus: #e04700;

	/* RSS */
	--cs-color-rss: #e2733d;
	--cs-color-rss-rgb: 226, 115, 61;
	--cs-color-rss-border: #c56637;
	--cs-color-rss-hover: #d56738;
	--cs-color-rss-border-hover: #b95730;
	--cs-color-rss-focus: #eb7f48;
	--cs-color-rss-border-focus: #cb6f3f;

	/* Skype */
	--cs-color-skype: #00aff0;
	--cs-color-skype-rgb: 0, 175, 240;
	--cs-color-skype-border: #009ed5;
	--cs-color-skype-hover: #0088ba;
	--cs-color-skype-border-hover: #0077a1;
	--cs-color-skype-focus: #1bc4f5;
	--cs-color-skype-border-focus: #00a9db;

	/* Snapchat */
	--cs-color-snapchat: #fffc00;
	--cs-color-snapchat-rgb: 255, 252, 0;
	--cs-color-snapchat-border: #e6e200;
	--cs-color-snapchat-hover: #ccc900;
	--cs-color-snapchat-border-hover: #b3b200;
	--cs-color-snapchat-focus: #fff933;
	--cs-color-snapchat-border-focus: #e6e300;

	/* SoundCloud */
	--cs-color-soundcloud: #ff5500;
	--cs-color-soundcloud-rgb: 255, 85, 0;
	--cs-color-soundcloud-border: #e64d00;
	--cs-color-soundcloud-hover: #cc4400;
	--cs-color-soundcloud-border-hover: #b33c00;
	--cs-color-soundcloud-focus: #ff7033;
	--cs-color-soundcloud-border-focus: #e65522;

	/* Spotify */
	--cs-color-spotify: #1ed760;
	--cs-color-spotify-rgb: 30, 215, 96;
	--cs-color-spotify-border: #1bc254;
	--cs-color-spotify-hover: #19ad4a;
	--cs-color-spotify-border-hover: #159841;
	--cs-color-spotify-focus: #2be073;
	--cs-color-spotify-border-focus: #1ec960;

	/* Stack Overflow */
	--cs-color-stackoverflow: #f48024;
	--cs-color-stackoverflow-rgb: 244, 128, 36;
	--cs-color-stackoverflow-border: #da7220;
	--cs-color-stackoverflow-hover: #c2661c;
	--cs-color-stackoverflow-border-hover: #a95b18;
	--cs-color-stackoverflow-focus: #ff8d34;
	--cs-color-stackoverflow-border-focus: #dc7922;

	/* Steam */
	--cs-color-steam: #162738;
	--cs-color-steam-rgb: 22, 39, 56;
	--cs-color-steam-border: #141f30;
	--cs-color-steam-hover: #142232;
	--cs-color-steam-border-hover: #111c29;
	--cs-color-steam-focus: #192c3e;
	--cs-color-steam-border-focus: #142434;

	/* StumbleUpon */
	--cs-color-stumbleupon: #e94826;
	--cs-color-stumbleupon-rgb: 233, 72, 38;
	--cs-color-stumbleupon-border: #d04022;
	--cs-color-stumbleupon-hover: #b8381e;
	--cs-color-stumbleupon-border-hover: #a0301a;
	--cs-color-stumbleupon-focus: #ee613f;
	--cs-color-stumbleupon-border-focus: #d04b2b;

	/* Swarm */
	--cs-color-swarm: #ffa633;
	--cs-color-swarm-rgb: 255, 166, 51;
	--cs-color-swarm-border: #e6952e;
	--cs-color-swarm-hover: #cc8529;
	--cs-color-swarm-border-hover: #b37524;
	--cs-color-swarm-focus: #ffb84d;
	--cs-color-swarm-border-focus: #e6a63a;

	/* Tumblr */
	--cs-color-tumblr: #36465d;
	--cs-color-tumblr-rgb: 54, 70, 93;
	--cs-color-tumblr-border: #2e3c4f;
	--cs-color-tumblr-hover: #273343;
	--cs-color-tumblr-border-hover: #212b38;
	--cs-color-tumblr-focus: #465375;
	--cs-color-tumblr-border-focus: #354964;

	/* Twitter */
	--cs-color-twitter: #1da1f2;
	--cs-color-twitter-rgb: 29, 161, 242;
	--cs-color-twitter-border: #1793e3;
	--cs-color-twitter-hover: #1382cd;
	--cs-color-twitter-border-hover: #0e74b8;
	--cs-color-twitter-focus: #35b0f5;
	--cs-color-twitter-border-focus: #1b9ae6;

	/* Vimeo */
	--cs-color-vimeo: #1ab7ea;
	--cs-color-vimeo-rgb: 26, 183, 234;
	--cs-color-vimeo-border: #17a5cf;
	--cs-color-vimeo-hover: #1392b5;
	--cs-color-vimeo-border-hover: #1082a2;
	--cs-color-vimeo-focus: #2cc0f0;
	--cs-color-vimeo-border-focus: #18b4db;

	/* Vine */
	--cs-color-vine: #00b489;
	--cs-color-vine-rgb: 0, 180, 137;
	--cs-color-vine-border: #00a27c;
	--cs-color-vine-hover: #009370;
	--cs-color-vine-border-hover: #008566;
	--cs-color-vine-focus: #1ac29b;
	--cs-color-vine-border-focus: #00b484;

	/* VK */
	--cs-color-vk: #4a76a8;
	--cs-color-vk-rgb: 74, 118, 168;
	--cs-color-vk-border: #416b97;
	--cs-color-vk-hover: #395f86;
	--cs-color-vk-border-hover: #315576;
	--cs-color-vk-focus: #5a86b3;
	--cs-color-vk-border-focus: #4678a3;

	/* WhatsApp */
	--cs-color-whatsapp: #25d366;
	--cs-color-whatsapp-rgb: 37, 211, 102;
	--cs-color-whatsapp-border: #21c05c;
	--cs-color-whatsapp-hover: #1fad53;
	--cs-color-whatsapp-border-hover: #1b9a49;
	--cs-color-whatsapp-focus: #3ae37b;
	--cs-color-whatsapp-border-focus: #25cb66;

	/* Yahoo */
	--cs-color-yahoo: #430297;
	--cs-color-yahoo-rgb: 67, 2, 151;
	--cs-color-yahoo-border: #3c0288;
	--cs-color-yahoo-hover: #35027a;
	--cs-color-yahoo-border-hover: #2e026c;
	--cs-color-yahoo-focus: #5c13a8;
	--cs-color-yahoo-border-focus: #450297;

	/* YouTube */
	--cs-color-youtube: #ff0000;
	--cs-color-youtube-rgb: 255, 0, 0;
	--cs-color-youtube-border: #e60000;
	--cs-color-youtube-hover: #cc0000;
	--cs-color-youtube-border-hover: #b30000;
	--cs-color-youtube-focus: #ff3333;
	--cs-color-youtube-border-focus: #e60000;
}

.text-500px {
	background-color: inherit;
	color: var(--cs-color-500px);
}

.bg-500px {
	background-color: var(--cs-color-500px);
	color: var(--cs-color-white);
}

.btn-500px {
	background-color: var(--cs-color-500px);
	border-color: var(--cs-color-500px-border);
	color: var(--cs-color-white) !important;
}

.btn-500px:hover {
	background-color: var(--cs-color-500px-hover);
	border-color: var(--cs-color-500px-border-hover);
	color: inherit;
}

.btn-500px:active,
.btn-500px.active {
	background-color: var(--cs-color-500px-border-hover) !important;
	border-color: var(--cs-color-500px-border-focus) !important;
	color: inherit;
}

.btn-500px:focus,
.btn-500px:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-500px-rgb), .25);
	outline: 0;
}

.border-500px {
	border-color: var(--cs-color-500px) !important;
}

.text-amazon {
	background-color: inherit;
	color: var(--cs-color-amazon);
}

.bg-amazon {
	background-color: var(--cs-color-amazon);
	color: var(--cs-color-white);
}

.btn-amazon {
	background-color: var(--cs-color-amazon);
	border-color: var(--cs-color-amazon-border);
	color: var(--cs-color-white) !important;
}

.btn-amazon:hover {
	background-color: var(--cs-color-amazon-hover);
	border-color: var(--cs-color-amazon-border-hover);
	color: inherit;
}

.btn-amazon:active,
.btn-amazon.active {
	background-color: var(--cs-color-amazon-border-hover) !important;
	border-color: var(--cs-color-amazon-border-focus) !important;
	color: inherit;
}

.btn-amazon:focus,
.btn-amazon:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-amazon-rgb), .25);
	outline: 0;
}

.border-amazon {
	border-color: var(--cs-color-amazon) !important;
}

.text-android {
	background-color: inherit;
	color: var(--cs-color-android);
}

.bg-android {
	background-color: var(--cs-color-android);
	color: var(--cs-color-white);
}

.btn-android {
	background-color: var(--cs-color-android);
	border-color: var(--cs-color-android-border);
	color: var(--cs-color-white) !important;
}

.btn-android:hover {
	background-color: var(--cs-color-android-hover);
	border-color: var(--cs-color-android-border-hover);
	color: inherit;
}

.btn-android:active,
.btn-android.active {
	background-color: var(--cs-color-android-border-hover) !important;
	border-color: var(--cs-color-android-border-focus) !important;
	color: inherit;
}

.btn-android:focus,
.btn-android:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-android-rgb), .25);
	outline: 0;
}

.border-android {
	border-color: var(--cs-color-android) !important;
}

.text-deviantart {
	background-color: inherit;
	color: var(--cs-color-deviantart);
}

.text-apple {
	background-color: inherit;
	color: var(--cs-color-apple);
}

.bg-apple {
	background-color: var(--cs-color-apple);
	color: var(--cs-color-white);
}

.btn-apple {
	background-color: var(--cs-color-apple);
	border-color: var(--cs-color-apple-border);
	color: var(--cs-color-white) !important;
}

.btn-apple:hover {
	background-color: var(--cs-color-apple-hover);
	border-color: var(--cs-color-apple-border-hover);
	color: inherit;
}

.btn-apple:active,
.btn-apple.active {
	background-color: var(--cs-color-apple-border-hover) !important;
	border-color: var(--cs-color-apple-border-focus) !important;
	color: inherit;
}

.btn-apple:focus,
.btn-apple:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-apple-rgb), .25);
	outline: 0;
}

.border-apple {
	border-color: var(--cs-color-apple) !important;
}

.bg-deviantart {
	background-color: var(--cs-color-deviantart);
	color: var(--cs-color-white);
}

.btn-deviantart {
	background-color: var(--cs-color-deviantart);
	border-color: var(--cs-color-deviantart-border);
	color: var(--cs-color-white) !important;
}

.btn-deviantart:hover {
	background-color: var(--cs-color-deviantart-hover);
	border-color: var(--cs-color-deviantart-border-hover);
	color: inherit;
}

.btn-deviantart:active,
.btn-deviantart.active {
	background-color: var(--cs-color-deviantart-border-hover) !important;
	border-color: var(--cs-color-deviantart-border-focus) !important;
	color: inherit;
}

.btn-deviantart:focus,
.btn-deviantart:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-deviantart-rgb), .25);
	outline: 0;
}

.border-deviantart {
	border-color: var(--cs-color-deviantart) !important;
}

.text-discord {
	background-color: inherit;
	color: var(--cs-color-discord);
}

.bg-discord {
	background-color: var(--cs-color-discord);
	color: var(--cs-color-white);
}

.btn-discord {
	background-color: var(--cs-color-discord);
	border-color: var(--cs-color-discord-border);
	color: var(--cs-color-white) !important;
}

.btn-discord:hover {
	background-color: var(--cs-color-discord-hover);
	border-color: var(--cs-color-discord-border-hover);
	color: inherit;
}

.btn-discord:active,
.btn-discord.active {
	background-color: var(--cs-color-discord-border-hover) !important;
	border-color: var(--cs-color-discord-border-focus) !important;
	color: inherit;
}

.btn-discord:focus,
.btn-discord:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-discord-rgb), .25);
	outline: 0;
}

.border-discord {
	border-color: var(--cs-color-discord) !important;
}

.text-dribbble {
	background-color: inherit;
	color: var(--cs-color-dribbble);
}

.bg-dribbble {
	background-color: var(--cs-color-dribbble);
	color: var(--cs-color-white);
}

.btn-dribbble {
	background-color: var(--cs-color-dribbble);
	border-color: var(--cs-color-dribbble-border);
	color: var(--cs-color-white) !important;
}

.btn-dribbble:hover {
	background-color: var(--cs-color-dribbble-hover);
	border-color: var(--cs-color-dribbble-border-hover);
	color: inherit;
}

.btn-dribbble:active,
.btn-dribbble.active {
	background-color: var(--cs-color-dribbble-border-hover) !important;
	border-color: var(--cs-color-dribbble-border-focus) !important;
	color: inherit;
}

.btn-dribbble:focus,
.btn-dribbble:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-dribbble-rgb), .25);
	outline: 0;
}

.border-dribbble {
	border-color: var(--cs-color-dribbble) !important;
}

.text-facebook {
	background-color: inherit;
	color: var(--cs-color-facebook);
}

.bg-facebook {
	background-color: var(--cs-color-facebook);
	color: var(--cs-color-white);
}

.btn-facebook {
	background-color: var(--cs-color-facebook);
	border-color: var(--cs-color-facebook-border);
	color: var(--cs-color-white) !important;
}

.btn-facebook:hover {
	background-color: var(--cs-color-facebook-hover);
	border-color: var(--cs-color-facebook-border-hover);
	color: inherit;
}

.btn-facebook:active,
.btn-facebook.active {
	background-color: var(--cs-color-facebook-border-hover) !important;
	border-color: var(--cs-color-facebook-border-focus) !important;
	color: inherit;
}

.btn-facebook:focus,
.btn-facebook:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-facebook-rgb), .25);
	outline: 0;
}

.border-facebook {
	border-color: var(--cs-color-facebook) !important;
}

.text-flickr {
	background-color: inherit;
	color: var(--cs-color-flickr);
}

.bg-flickr {
	background-color: var(--cs-color-flickr);
	color: var(--cs-color-white);
}

.btn-flickr {
	background-color: var(--cs-color-flickr);
	border-color: var(--cs-color-flickr-border);
	color: var(--cs-color-white) !important;
}

.btn-flickr:hover {
	background-color: var(--cs-color-flickr-hover);
	border-color: var(--cs-color-flickr-border-hover);
	color: inherit;
}

.btn-flickr:active,
.btn-flickr.active {
	background-color: var(--cs-color-flickr-border-hover) !important;
	border-color: var(--cs-color-flickr-border-focus) !important;
	color: inherit;
}

.btn-flickr:focus,
.btn-flickr:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-flickr-rgb), .25);
	outline: 0;
}

.border-flickr {
	border-color: var(--cs-color-flickr) !important;
}

.text-foursquare {
	background-color: inherit;
	color: var(--cs-color-foursquare);
}

.bg-foursquare {
	background-color: var(--cs-color-foursquare);
	color: var(--cs-color-white);
}

.btn-foursquare {
	background-color: var(--cs-color-foursquare);
	border-color: var(--cs-color-foursquare-border);
	color: var(--cs-color-white) !important;
}

.btn-foursquare:hover {
	background-color: var(--cs-color-foursquare-hover);
	border-color: var(--cs-color-foursquare-border-hover);
	color: inherit;
}

.btn-foursquare:active,
.btn-foursquare.active {
	background-color: var(--cs-color-foursquare-border-hover) !important;
	border-color: var(--cs-color-foursquare-border-focus) !important;
	color: inherit;
}

.btn-foursquare:focus,
.btn-foursquare:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-foursquare-rgb), .25);
	outline: 0;
}

.border-foursquare {
	border-color: var(--cs-color-foursquare) !important;
}

.text-github {
	background-color: inherit;
	color: var(--cs-color-github);
}

.bg-github {
	background-color: var(--cs-color-github);
	color: var(--cs-color-white);
}

.btn-github {
	background-color: var(--cs-color-github);
	border-color: var(--cs-color-github-border);
	color: var(--cs-color-white) !important;
}

.btn-github:hover {
	background-color: var(--cs-color-github-hover);
	border-color: var(--cs-color-github-border-hover);
	color: inherit;
}

.btn-github:active,
.btn-github.active {
	background-color: var(--cs-color-github-border-hover) !important;
	border-color: var(--cs-color-github-border-focus) !important;
	color: inherit;
}

.btn-github:focus,
.btn-github:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-github-rgb), .25);
	outline: 0;
}

.border-github {
	border-color: var(--cs-color-github) !important;
}

.text-google {
	background-color: inherit;
	color: var(--cs-color-google);
}

.bg-google {
	background-color: var(--cs-color-google);
	color: var(--cs-color-white);
}

.btn-google {
	background-color: var(--cs-color-google);
	border-color: var(--cs-color-google-border);
	color: var(--cs-color-white) !important;
}

.btn-google:hover {
	background-color: var(--cs-color-google-hover);
	border-color: var(--cs-color-google-border-hover);
	color: inherit;
}

.btn-google:active,
.btn-google.active {
	background-color: var(--cs-color-google-border-hover) !important;
	border-color: var(--cs-color-google-border-focus) !important;
	color: inherit;
}

.btn-google:focus,
.btn-google:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-google-rgb), .25);
	outline: 0;
}

.border-google {
	border-color: var(--cs-color-google) !important;
}

.text-google-plus {
	background-color: inherit;
	color: var(--cs-color-google-plus);
}

.bg-google-plus {
	background-color: var(--cs-color-google-plus);
	color: var(--cs-color-white);
}

.btn-google-plus {
	background-color: var(--cs-color-google-plus);
	border-color: var(--cs-color-google-plus-border);
	color: var(--cs-color-white) !important;
}

.btn-google-plus:hover {
	background-color: var(--cs-color-google-plus-hover);
	border-color: var(--cs-color-google-plus-border-hover);
	color: inherit;
}

.btn-google-plus:active,
.btn-google-plus.active {
	background-color: var(--cs-color-google-plus-border-hover) !important;
	border-color: var(--cs-color-google-plus-border-focus) !important;
	color: inherit;
}

.btn-google-plus:focus,
.btn-google-plus:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-google-plus-rgb), .25);
	outline: 0;
}

.border-google-plus {
	border-color: var(--cs-color-google-plus) !important;
}

.text-instagram {
	background-color: inherit;
	color: var(--cs-color-instagram);
}

.bg-instagram {
	background-color: var(--cs-color-instagram);
	color: var(--cs-color-white);
}

.btn-instagram {
	background-color: var(--cs-color-instagram);
	border-color: var(--cs-color-instagram-border);
	color: var(--cs-color-white) !important;
}

.btn-instagram:hover {
	background-color: var(--cs-color-instagram-hover);
	border-color: var(--cs-color-instagram-border-hover);
	color: inherit;
}

.btn-instagram:active,
.btn-instagram.active {
	background-color: var(--cs-color-instagram-border-hover) !important;
	border-color: var(--cs-color-instagram-border-focus) !important;
	color: inherit;
}

.btn-instagram:focus,
.btn-instagram:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-instagram-rgb), .25);
	outline: 0;
}

.border-instagram {
	border-color: var(--cs-color-instagram) !important;
}

.text-linkedin {
	background-color: inherit;
	color: var(--cs-color-linkedin);
}

.bg-linkedin {
	background-color: var(--cs-color-linkedin);
	color: var(--cs-color-white);
}

.btn-linkedin {
	background-color: var(--cs-color-linkedin);
	border-color: var(--cs-color-linkedin-border);
	color: var(--cs-color-white) !important;
}

.btn-linkedin:hover {
	background-color: var(--cs-color-linkedin-hover);
	border-color: var(--cs-color-linkedin-border-hover);
	color: inherit;
}

.btn-linkedin:active,
.btn-linkedin.active {
	background-color: var(--cs-color-linkedin-border-hover) !important;
	border-color: var(--cs-color-linkedin-border-focus) !important;
	color: inherit;
}

.btn-linkedin:focus,
.btn-linkedin:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-linkedin-rgb), .25);
	outline: 0;
}

.border-linkedin {
	border-color: var(--cs-color-linkedin) !important;
}

.text-medium {
	background-color: inherit;
	color: var(--cs-color-medium);
}

.bg-medium {
	background-color: var(--cs-color-medium);
	color: var(--cs-color-white);
}

.btn-medium {
	background-color: var(--cs-color-medium);
	border-color: var(--cs-color-medium-border);
	color: var(--cs-color-white) !important;
}

.btn-medium:hover {
	background-color: var(--cs-color-medium-hover);
	border-color: var(--cs-color-medium-border-hover);
	color: inherit;
}

.btn-medium:active,
.btn-medium.active {
	background-color: var(--cs-color-medium-border-hover) !important;
	border-color: var(--cs-color-medium-border-focus) !important;
	color: inherit;
}

.btn-medium:focus,
.btn-medium:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-medium-rgb), .25);
	outline: 0;
}

.border-medium {
	border-color: var(--cs-color-medium) !important;
}

.text-paypal {
	background-color: inherit;
	color: var(--cs-color-paypal);
}

.bg-paypal {
	background-color: var(--cs-color-paypal);
	color: var(--cs-color-white);
}

.btn-paypal {
	background-color: var(--cs-color-paypal);
	border-color: var(--cs-color-paypal-border);
	color: var(--cs-color-white) !important;
}

.btn-paypal:hover {
	background-color: var(--cs-color-paypal-hover);
	border-color: var(--cs-color-paypal-border-hover);
	color: inherit;
}

.btn-paypal:active,
.btn-paypal.active {
	background-color: var(--cs-color-paypal-border-hover) !important;
	border-color: var(--cs-color-paypal-border-focus) !important;
	color: inherit;
}

.btn-paypal:focus,
.btn-paypal:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-paypal-rgb), .25);
	outline: 0;
}

.border-paypal {
	border-color: var(--cs-color-paypal) !important;
}

.text-pinterest {
	background-color: inherit;
	color: var(--cs-color-pinterest);
}

.bg-pinterest {
	background-color: var(--cs-color-pinterest);
	color: var(--cs-color-white);
}

.btn-pinterest {
	background-color: var(--cs-color-pinterest);
	border-color: var(--cs-color-pinterest-border);
	color: var(--cs-color-white) !important;
}

.btn-pinterest:hover {
	background-color: var(--cs-color-pinterest-hover);
	border-color: var(--cs-color-pinterest-border-hover);
	color: inherit;
}

.btn-pinterest:active,
.btn-pinterest.active {
	background-color: var(--cs-color-pinterest-border-hover) !important;
	border-color: var(--cs-color-pinterest-border-focus) !important;
	color: inherit;
}

.btn-pinterest:focus,
.btn-pinterest:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-pinterest-rgb), .25);
	outline: 0;
}

.border-pinterest {
	border-color: var(--cs-color-pinterest) !important;
}

.text-pocket {
	background-color: inherit;
	color: var(--cs-color-pocket);
}

.bg-pocket {
	background-color: var(--cs-color-pocket);
	color: var(--cs-color-white);
}

.btn-pocket {
	background-color: var(--cs-color-pocket);
	border-color: var(--cs-color-pocket-border);
	color: var(--cs-color-white) !important;
}

.btn-pocket:hover {
	background-color: var(--cs-color-pocket-hover);
	border-color: var(--cs-color-pocket-border-hover);
	color: inherit;
}

.btn-pocket:active,
.btn-pocket.active {
	background-color: var(--cs-color-pocket-border-hover) !important;
	border-color: var(--cs-color-pocket-border-focus) !important;
	color: inherit;
}

.btn-pocket:focus,
.btn-pocket:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-pocket-rgb), .25);
	outline: 0;
}

.border-pocket {
	border-color: var(--cs-color-pocket) !important;
}

.text-quora {
	background-color: inherit;
	color: var(--cs-color-quora);
}

.bg-quora {
	background-color: var(--cs-color-quora);
	color: var(--cs-color-white);
}

.btn-quora {
	background-color: var(--cs-color-quora);
	border-color: var(--cs-color-quora-border);
	color: var(--cs-color-white) !important;
}

.btn-quora:hover {
	background-color: var(--cs-color-quora-hover);
	border-color: var(--cs-color-quora-border-hover);
	color: inherit;
}

.btn-quora:active,
.btn-quora.active {
	background-color: var(--cs-color-quora-border-hover) !important;
	border-color: var(--cs-color-quora-border-focus) !important;
	color: inherit;
}

.btn-quora:focus,
.btn-quora:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-quora-rgb), .25);
	outline: 0;
}

.border-quora {
	border-color: var(--cs-color-quora) !important;
}

.text-reddit {
	background-color: inherit;
	color: var(--cs-color-reddit);
}

.bg-reddit {
	background-color: var(--cs-color-reddit);
	color: var(--cs-color-white);
}

.btn-reddit {
	background-color: var(--cs-color-reddit);
	border-color: var(--cs-color-reddit-border);
	color: var(--cs-color-white) !important;
}

.btn-reddit:hover {
	background-color: var(--cs-color-reddit-hover);
	border-color: var(--cs-color-reddit-border-hover);
	color: inherit;
}

.btn-reddit:active,
.btn-reddit.active {
	background-color: var(--cs-color-reddit-border-hover) !important;
	border-color: var(--cs-color-reddit-border-focus) !important;
	color: inherit;
}

.btn-reddit:focus,
.btn-reddit:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-reddit-rgb), .25);
	outline: 0;
}

.border-reddit {
	border-color: var(--cs-color-reddit) !important;
}

.text-rss {
	background-color: inherit;
	color: var(--cs-color-rss);
}

.bg-rss {
	background-color: var(--cs-color-rss);
	color: var(--cs-color-white);
}

.btn-rss {
	background-color: var(--cs-color-rss);
	border-color: var(--cs-color-rss-border);
	color: var(--cs-color-white) !important;
}

.btn-rss:hover {
	background-color: var(--cs-color-rss-hover);
	border-color: var(--cs-color-rss-border-hover);
	color: inherit;
}

.btn-rss:active,
.btn-rss.active {
	background-color: var(--cs-color-rss-border-hover) !important;
	border-color: var(--cs-color-rss-border-focus) !important;
	color: inherit;
}

.btn-rss:focus,
.btn-rss:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-rss-rgb), .25);
	outline: 0;
}

.border-rss {
	border-color: var(--cs-color-rss) !important;
}

.text-skype {
	background-color: inherit;
	color: var(--cs-color-skype);
}

.bg-skype {
	background-color: var(--cs-color-skype);
	color: var(--cs-color-white);
}

.btn-skype {
	background-color: var(--cs-color-skype);
	border-color: var(--cs-color-skype-border);
	color: var(--cs-color-white) !important;
}

.btn-skype:hover {
	background-color: var(--cs-color-skype-hover);
	border-color: var(--cs-color-skype-border-hover);
	color: inherit;
}

.btn-skype:active,
.btn-skype.active {
	background-color: var(--cs-color-skype-border-hover) !important;
	border-color: var(--cs-color-skype-border-focus) !important;
	color: inherit;
}

.btn-skype:focus,
.btn-skype:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-skype-rgb), .25);
	outline: 0;
}

.border-skype {
	border-color: var(--cs-color-skype) !important;
}

.text-snapchat {
	background-color: inherit;
	color: var(--cs-color-snapchat);
}

.bg-snapchat {
	background-color: var(--cs-color-snapchat);
	color: var(--cs-color-default);
}

.btn-snapchat {
	background-color: var(--cs-color-snapchat);
	border-color: var(--cs-color-snapchat-border);
	color: var(--cs-color-default) !important;
}

.btn-snapchat:hover {
	background-color: var(--cs-color-snapchat-hover);
	border-color: var(--cs-color-snapchat-border-hover);
	color: inherit;
}

.btn-snapchat:active,
.btn-snapchat.active {
	background-color: var(--cs-color-snapchat-border-hover) !important;
	border-color: var(--cs-color-snapchat-border-focus) !important;
	color: inherit;
}

.btn-snapchat:focus,
.btn-snapchat:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-snapchat-rgb), .25);
	outline: 0;
}

.border-snapchat {
	border-color: var(--cs-color-snapchat) !important;
}

.text-soundcloud {
	background-color: inherit;
	color: var(--cs-color-soundcloud);
}

.bg-soundcloud {
	background-color: var(--cs-color-soundcloud);
	color: var(--cs-color-white);
}

.btn-soundcloud {
	background-color: var(--cs-color-soundcloud);
	border-color: var(--cs-color-soundcloud-border);
	color: var(--cs-color-white) !important;
}

.btn-soundcloud:hover {
	background-color: var(--cs-color-soundcloud-hover);
	border-color: var(--cs-color-soundcloud-border-hover);
	color: inherit;
}

.btn-soundcloud:active,
.btn-soundcloud.active {
	background-color: var(--cs-color-soundcloud-border-hover) !important;
	border-color: var(--cs-color-soundcloud-border-focus) !important;
	color: inherit;
}

.btn-soundcloud:focus,
.btn-soundcloud:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-soundcloud-rgb), .25);
	outline: 0;
}

.border-soundcloud {
	border-color: var(--cs-color-soundcloud) !important;
}

.text-spotify {
	background-color: inherit;
	color: var(--cs-color-spotify);
}

.bg-spotify {
	background-color: var(--cs-color-spotify);
	color: var(--cs-color-default);
}

.btn-spotify {
	background-color: var(--cs-color-spotify);
	border-color: var(--cs-color-spotify-border);
	color: var(--cs-color-default) !important;
}

.btn-spotify:hover {
	background-color: var(--cs-color-spotify-hover);
	border-color: var(--cs-color-spotify-border-hover);
	color: inherit;
}

.btn-spotify:active,
.btn-spotify.active {
	background-color: var(--cs-color-spotify-border-hover) !important;
	border-color: var(--cs-color-spotify-border-focus) !important;
	color: inherit;
}

.btn-spotify:focus,
.btn-spotify:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-spotify-rgb), .25);
	outline: 0;
}

.border-spotify {
	border-color: var(--cs-color-spotify) !important;
}

.text-stackoverflow {
	background-color: inherit;
	color: var(--cs-color-stackoverflow);
}

.bg-stackoverflow {
	background-color: var(--cs-color-stackoverflow);
	color: var(--cs-color-white);
}

.btn-stackoverflow {
	background-color: var(--cs-color-stackoverflow);
	border-color: var(--cs-color-stackoverflow-border);
	color: var(--cs-color-white) !important;
}

.btn-stackoverflow:hover {
	background-color: var(--cs-color-stackoverflow-hover);
	border-color: var(--cs-color-stackoverflow-border-hover);
	color: inherit;
}

.btn-stackoverflow:active,
.btn-stackoverflow.active {
	background-color: var(--cs-color-stackoverflow-border-hover) !important;
	border-color: var(--cs-color-stackoverflow-border-focus) !important;
	color: inherit;
}

.btn-stackoverflow:focus,
.btn-stackoverflow:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-stackoverflow-rgb), .25);
	outline: 0;
}

.border-stackoverflow {
	border-color: var(--cs-color-stackoverflow) !important;
}

.text-steam {
	background-color: inherit;
	color: var(--cs-color-steam);
}

.bg-steam {
	background-color: var(--cs-color-steam);
	color: var(--cs-color-white);
}

.btn-steam {
	background-color: var(--cs-color-steam);
	border-color: var(--cs-color-steam-border);
	color: var(--cs-color-white) !important;
}

.btn-steam:hover {
	background-color: var(--cs-color-steam-hover);
	border-color: var(--cs-color-steam-border-hover);
	color: inherit;
}

.btn-steam:active,
.btn-steam.active {
	background-color: var(--cs-color-steam-border-hover) !important;
	border-color: var(--cs-color-steam-border-focus) !important;
	color: inherit;
}

.btn-steam:focus,
.btn-steam:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-steam-rgb), .25);
	outline: 0;
}

.border-steam {
	border-color: var(--cs-color-steam) !important;
}

.text-stumbleupon {
	background-color: inherit;
	color: var(--cs-color-stumbleupon);
}

.bg-stumbleupon {
	background-color: var(--cs-color-stumbleupon);
	color: var(--cs-color-white);
}

.btn-stumbleupon {
	background-color: var(--cs-color-stumbleupon);
	border-color: var(--cs-color-stumbleupon-border);
	color: var(--cs-color-white) !important;
}

.btn-stumbleupon:hover {
	background-color: var(--cs-color-stumbleupon-hover);
	border-color: var(--cs-color-stumbleupon-border-hover);
	color: inherit;
}

.btn-stumbleupon:active,
.btn-stumbleupon.active {
	background-color: var(--cs-color-stumbleupon-border-hover) !important;
	border-color: var(--cs-color-stumbleupon-border-focus) !important;
	color: inherit;
}

.btn-stumbleupon:focus,
.btn-stumbleupon:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-stumbleupon-rgb), .25);
	outline: 0;
}

.border-stumbleupon {
	border-color: var(--cs-color-stumbleupon) !important;
}

.text-swarm {
	background-color: inherit;
	color: var(--cs-color-swarm);
}

.bg-swarm {
	background-color: var(--cs-color-swarm);
	color: var(--cs-color-white);
}

.btn-swarm {
	background-color: var(--cs-color-swarm);
	border-color: var(--cs-color-swarm-border);
	color: var(--cs-color-white) !important;
}

.btn-swarm:hover {
	background-color: var(--cs-color-swarm-hover);
	border-color: var(--cs-color-swarm-border-hover);
	color: inherit;
}

.btn-swarm:active,
.btn-swarm.active {
	background-color: var(--cs-color-swarm-border-hover) !important;
	border-color: var(--cs-color-swarm-border-focus) !important;
	color: inherit;
}

.btn-swarm:focus,
.btn-swarm:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-swarm-rgb), .25);
	outline: 0;
}

.border-swarm {
	border-color: var(--cs-color-swarm) !important;
}

.text-tumblr {
	background-color: inherit;
	color: var(--cs-color-tumblr);
}

.bg-tumblr {
	background-color: var(--cs-color-tumblr);
	color: var(--cs-color-white);
}

.btn-tumblr {
	background-color: var(--cs-color-tumblr);
	border-color: var(--cs-color-tumblr-border);
	color: var(--cs-color-white) !important;
}

.btn-tumblr:hover {
	background-color: var(--cs-color-tumblr-hover);
	border-color: var(--cs-color-tumblr-border-hover);
	color: inherit;
}

.btn-tumblr:active,
.btn-tumblr.active {
	background-color: var(--cs-color-tumblr-border-hover) !important;
	border-color: var(--cs-color-tumblr-border-focus) !important;
	color: inherit;
}

.btn-tumblr:focus,
.btn-tumblr:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-tumblr-rgb), .25);
	outline: 0;
}

.border-tumblr {
	border-color: var(--cs-color-tumblr) !important;
}

.text-twitter {
	background-color: inherit;
	color: var(--cs-color-twitter);
}

.bg-twitter {
	background-color: var(--cs-color-twitter);
	color: var(--cs-color-white);
}

.btn-twitter {
	background-color: var(--cs-color-twitter);
	border-color: var(--cs-color-twitter-border);
	color: var(--cs-color-white) !important;
}

.btn-twitter:hover {
	background-color: var(--cs-color-twitter-hover);
	border-color: var(--cs-color-twitter-border-hover);
	color: inherit;
}

.btn-twitter:active,
.btn-twitter.active {
	background-color: var(--cs-color-twitter-border-hover) !important;
	border-color: var(--cs-color-twitter-border-focus) !important;
	color: inherit;
}

.btn-twitter:focus,
.btn-twitter:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-twitter-rgb), .25);
	outline: 0;
}

.border-twitter {
	border-color: var(--cs-color-twitter) !important;
}

.text-vimeo {
	background-color: inherit;
	color: var(--cs-color-vimeo);
}

.bg-vimeo {
	background-color: var(--cs-color-vimeo);
	color: var(--cs-color-white);
}

.btn-vimeo {
	background-color: var(--cs-color-vimeo);
	border-color: var(--cs-color-vimeo-border);
	color: var(--cs-color-white) !important;
}

.btn-vimeo:hover {
	background-color: var(--cs-color-vimeo-hover);
	border-color: var(--cs-color-vimeo-border-hover);
	color: inherit;
}

.btn-vimeo:active,
.btn-vimeo.active {
	background-color: var(--cs-color-vimeo-border-hover) !important;
	border-color: var(--cs-color-vimeo-border-focus) !important;
	color: inherit;
}

.btn-vimeo:focus,
.btn-vimeo:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-vimeo-rgb), .25);
	outline: 0;
}

.border-vimeo {
	border-color: var(--cs-color-vimeo) !important;
}

.text-vine {
	background-color: inherit;
	color: var(--cs-color-vine);
}

.bg-vine {
	background-color: var(--cs-color-vine);
	color: var(--cs-color-white);
}

.btn-vine {
	background-color: var(--cs-color-vine);
	border-color: var(--cs-color-vine-border);
	color: var(--cs-color-white) !important;
}

.btn-vine:hover {
	background-color: var(--cs-color-vine-hover);
	border-color: var(--cs-color-vine-border-hover);
	color: inherit;
}

.btn-vine:active,
.btn-vine.active {
	background-color: var(--cs-color-vine-border-hover) !important;
	border-color: var(--cs-color-vine-border-focus) !important;
	color: inherit;
}

.btn-vine:focus,
.btn-vine:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-vine-rgb), .25);
	outline: 0;
}

.border-vine {
	border-color: var(--cs-color-vine) !important;
}

.text-vk {
	background-color: inherit;
	color: var(--cs-color-vk);
}

.bg-vk {
	background-color: var(--cs-color-vk);
	color: var(--cs-color-white);
}

.btn-vk {
	background-color: var(--cs-color-vk);
	border-color: var(--cs-color-vk-border);
	color: var(--cs-color-white) !important;
}

.btn-vk:hover {
	background-color: var(--cs-color-vk-hover);
	border-color: var(--cs-color-vk-border-hover);
	color: inherit;
}

.btn-vk:active,
.btn-vk.active {
	background-color: var(--cs-color-vk-border-hover) !important;
	border-color: var(--cs-color-vk-border-focus) !important;
	color: inherit;
}

.btn-vk:focus,
.btn-vk:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-vk-rgb), .25);
	outline: 0;
}

.border-vk {
	border-color: var(--cs-color-vk) !important;
}

.text-whatsapp {
	background-color: inherit;
	color: var(--cs-color-whatsapp);
}

.bg-whatsapp {
	background-color: var(--cs-color-whatsapp);
	color: var(--cs-color-default);
}

.btn-whatsapp {
	background-color: var(--cs-color-whatsapp);
	border-color: var(--cs-color-whatsapp-border);
	color: var(--cs-color-default) !important;
}

.btn-whatsapp:hover {
	background-color: var(--cs-color-whatsapp-hover);
	border-color: var(--cs-color-whatsapp-border-hover);
	color: inherit;
}

.btn-whatsapp:active,
.btn-whatsapp.active {
	background-color: var(--cs-color-whatsapp-border-hover) !important;
	border-color: var(--cs-color-whatsapp-border-focus) !important;
	color: inherit;
}

.btn-whatsapp:focus,
.btn-whatsapp:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-whatsapp-rgb), .25);
	outline: 0;
}

.border-whatsapp {
	border-color: var(--cs-color-whatsapp) !important;
}

.text-yahoo {
	background-color: inherit;
	color: var(--cs-color-yahoo);
}

.bg-yahoo {
	background-color: var(--cs-color-yahoo);
	color: var(--cs-color-white);
}

.btn-yahoo {
	background-color: var(--cs-color-yahoo);
	border-color: var(--cs-color-yahoo-border);
	color: var(--cs-color-white) !important;
}

.btn-yahoo:hover {
	background-color: var(--cs-color-yahoo-hover);
	border-color: var(--cs-color-yahoo-border-hover);
	color: inherit;
}

.btn-yahoo:active,
.btn-yahoo.active {
	background-color: var(--cs-color-yahoo-border-hover) !important;
	border-color: var(--cs-color-yahoo-border-focus) !important;
	color: inherit;
}

.btn-yahoo:focus,
.btn-yahoo:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-yahoo-rgb), .25);
	outline: 0;
}

.border-yahoo {
	border-color: var(--cs-color-yahoo) !important;
}

.text-youtube {
	background-color: inherit;
	color: var(--cs-color-youtube);
}

.bg-youtube {
	background-color: var(--cs-color-youtube);
	color: var(--cs-color-white);
}

.btn-youtube {
	background-color: var(--cs-color-youtube);
	border-color: var(--cs-color-youtube-border);
	color: var(--cs-color-white) !important;
}

.btn-youtube:hover {
	background-color: var(--cs-color-youtube-hover);
	border-color: var(--cs-color-youtube-border-hover);
	color: inherit;
}

.btn-youtube:active,
.btn-youtube.active {
	background-color: var(--cs-color-youtube-border-hover) !important;
	border-color: var(--cs-color-youtube-border-focus) !important;
	color: inherit;
}

.btn-youtube:focus,
.btn-youtube:focus-within {
	box-shadow: 0 0 0 .2rem rgba(var(--cs-color-youtube-rgb), .25);
	outline: 0;
}

.border-youtube {
	border-color: var(--cs-color-youtube) !important;
}
