name: Notify CSK Projects

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.dev/**'
      - '.gitdocs/**'
      - '.github/**'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'
      - 'CITATION.cff'
      - '*.todolist'

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Notify projects of common update
        uses: ianhubnet/github-actions/notify-projects@main
        with:
          token: ${{ secrets.CSK_PAT }}
          event: common-update
