name: Notify `ianhubnet/csk-projects` on common changes

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Notify csk-projects of common update
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.CSK_PAT }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/ianhubnet/csk-projects/dispatches \
            -d '{"event_type":"common-update"}'
